extends layout

block content
  h1= title
  p Welcome to #{title} please refresh page

  form(method="post", action="/scrape" onsubmit="return scrapText()")
    p
      input(type="text", name="url", value="enter url here")
      - if (error)
         p(style="color: red") Nieprawidłowy url
      - if (success)
         p(style="color: green") Sukces, twoja strona się teraz pobiera w tle. będzie dostępna w przeciągu 1-2min
    p.buttons
      input(type="submit", value="Scrap" id="scrap_button")

    div(id="info_text")

    ul
      for page in pages
        li
          a(href="/" + page)=page